
   <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <%= image_tag('logo.png', class: 'logo', alt: 'Showoff Widget')  %>
      <%= link_to 'Showoff Widgets', root_path, class: "navbar-brand pl-1" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
            <%- if current_user -%>
               <li class="nav-item active">
                   <!-- <span class="sr-only">(current)</span> -->
                  <%= link_to 'Home', dashboard_path, class: 'nav-link' %>
               </li>
               <li class="nav-item">
                  <%= link_to 'My Widgets', widgets_path, class: 'nav-link' %>
               </li>
            <%- else -%>
               <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
               </li>
               
                  <li class="nav-item">
                  <a class="nav-link disabled" href="#">Contact Us</a>
               </li>
            <%- end -%>
         </ul>
         <div class="col-4 d-flex justify-content-end align-items-center">
            <%- if current_user -%>
               <%= link_to 'Logout', logout_path, class: 'btn btn-sm btn-outline-secondary' %>
            <%- else -%>
               <%= link_to 'Sign in', login_path, class: 'btn btn-sm btn-outline-secondary' %>
            <%- end -%>
         </div>
      </div>
   </nav>