<% if @user.present? %>
  <p>
    <strong>First name:</strong>
    <%= @user["first_name"].to_s %>
  </p>
  <p>
    <strong>Last name:</strong>
    <%= @user["last_name"].to_s %>
  </p>
  <p>
    <strong>Image:</strong>
    <%= image_tag (@user["images"]["small_url"]) %>
  </p>
  <% if user_signed_in? && current_page?(:controller => 'widgets', :action => 'my_widget') %>
    <p>
      <strong>Email:</strong>
      <%= current_user.email %>
    </p>
    <p>
      <strong>Access Token:</strong>
      <%= current_user.showoff_access_token %>
    </p>
    <p>
      <strong>Refresh Token:</strong>
      <%= current_user.showoff_refresh_token %>
    </p>
    <p>
      <strong>Showoff Id:</strong>
      <%= current_user.showoff_user_id %>
    </p>
    <p>
      <strong>Date of birth:</strong>
      <%= current_user.date_of_birth %>
    </p>
  <% end -%>
<% end %>
<div>
  <%= render 'navigation/widgets_list', locale => {widgets: @widgets} %>
</div>
