<h2><center>Change your password</center></h2>
<div class="row">
  <div class="col-md-12">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <small>(<%= @minimum_password_length %> characters minimum)</small>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
